:root {
  --color-background: #000000;
  --color-screen: #000000;
  --color-border: #1B2838;
  --color-accent: #00BFFF;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-background);
  /* background-image: url('../../public/background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.batcomputer-screen {
  position: relative;
  background-color: var(--color-screen);
  border: 3px solid var(--color-accent);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 
    0 0 20px rgba(0, 191, 255, 0.3),
    inset 0 0 20px rgba(0, 191, 255, 0.2);
  display: inline-block;
  overflow: hidden;
  max-height: 90vh;
  margin: 20px;
}
