.projects-text,
.project-details {
  color: var(--color-text-secondary);
}

.project-item {
  color: var(--color-text-accent);
  transition: color 0.3s ease;
}

.project-item:hover {
  color: var(--color-text-secondary);
}

.project-item:hover .prompt,
.project-item:hover .project-title,
.project-item:hover .project-description {
  color: inherit;
}
